<% @posts.each_with_index do |post, index| %>
  <article class="post">
    <div class="post-header">
      <%= link_to user_post_path(user_id: @user.id, id: post.id) do %>
        <h2>#<%= index + 1 %> <%= post.title %></h2>
      <% end %>
      <p><%= post.text %></p>
      <div>
        <span>Comments: <%= post.commentsCounter || 0 %> likes: <%= post.likesCounter || 0 %></span>

      </div>
    </div>

    <div class="comments">
      <% post.most_recent_comments.each do |comment| %>
        <div class="comment">
          <h6 class="comment_header"><%= comment.author.name %>:</h6>
          <p class="comment_text"><%= comment.text %></p>
        </div>
      <% end %>
    </div>
  </article>
<% end %>
