<section>
  <article>
    <h2><%= @post.title %> by <%= @post.author.name %></h2>
    <div>
      <span>Comments: <%= @post.commentsCounter || 0 %> <%= render partial: 'shared/likes' %>: <%= @post.likesCounter || 0 %></span>
      <p><%= @post.text %></p>
    </div>
  </article>
  <div>
    <% @post.comments.each do |comment| %>
      <div>
        <h6><%= comment.author.name %>: </h6>
        <p><%= comment.text %></p>
				<%= button_to 'delete', delete_comment_path(user_id: @post.author.id, id: @post.id, comment_id: comment.id), method: :delete if can? :delete, comment %>
      </div>
    <% end %>
  </div>
  <%= render partial: 'shared/comments'%>
</section>
